// Fonts
@import 'fonts';
@import '~@fortawesome/fontawesome-free/css/all.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



html , body , h1 , h2 , h3 , h4 , h5 , h6 , p{font-family: 'IRANSans';}




// Large devices (desktops, 992px and up)
@media (min-width: 1200px) and (max-width: 1500px) {
    .container{max-width: 1270px!important;}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1500px) {
    .container{max-width: 1480px!important;}
}

.page-item:last-child .page-link{
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.page-item:first-child .page-link{
    margin-left: 2px!important;
    border-radius: 0 0.25rem 0.25rem 0 !important;
}

.pointer{cursor: pointer}
.btn{
    &{transition: opacity .5s}
    &:hover{opacity: .8;}
    &.btn-red{background-color: #eb3b5a;color: white}
    &.btn-orange{background-color: #fa8231;color: white}
    &.btn-yellow{background-color: #f7b731;color: white}
    &.btn-green{background-color: #20bf6b;color: white}
    &.btn-cyan{background-color: #0fb9b1;color: white}
    &.btn-blue{background-color: #2d98da;color: white}
    &.btn-dark-blue{background-color: #3867d6;color: white}
    &.btn-purple{background-color: #8854d0;color: white}
    &.btn-silver{background-color: #a5b1c2;color: black}
    &.btn-grey{background-color: #4b6584;color: white}
}

body {
    /*direction: rtl;*/
    font-size: 14px;
}

.blue-shadow {
    box-shadow: 0 2px 6px 0 #8eccff;
}

.btn-secondary2 {
    color: #424242;
    background-color: #e5e5e5;
    border-color: #dbdbdb;
}

.menu {
    background-color: #3490dc
}

.menu ul {
    list-style: none
}

.menu li {
    display: inline-block;
    margin-left: 25px
}

.menu a {
    color: #fff;
    text-decoration: none
}

.menu a:hover {
    font-weight: bold
}

.btn-warning2 {
    color: #ffffff;
    background-color: #ffd317;
    border-color: #ffd317;
}

.font10 {
    font-size: 10px
}

.font11 {
    font-size: 11px
}

.font12 {
    font-size: 12px
}

.font13 {
    font-size: 13px
}

.font14 {
    font-size: 14px
}

.font15 {
    font-size: 15px
}

.font16 {
    font-size: 16px
}

.font18 {
    font-size: 18px
}

.font20 {
    font-size: 20px
}

.font22 {
    font-size: 22px
}

a {
    color: unset
}

a:hover {
    text-decoration: none;
}

.social-a {
    padding: 11px 10px 3px 10px;
    border-radius: 10px;
    margin-right: 3px
}

.item-social {
    font-size: 22px;
    color: white;
}

.widthfit {
    width: fit-content;
}

.left-list {
    box-shadow: 0 0 4px 0 #a3a3a3;
}

.bg-blue01 {
    background-color: #c3e4ff
}

.bg-blue02 {
    background-color: #96cdfb
}
.bg-comments{background-color: #fffef8}
.left-list-item:hover {
    border-radius: 3px;
    background-color: #ebf6ff
}
.bg-gray{background-color: #f3f3f3}
.left-list-item2:hover {
    border-radius: 3px;
    background-color: #f8902f;
    color: #fff;
}

.pointer {
    cursor: pointer
}
a{ color: unset}
a:hover{text-decoration: none;}
.social-a{padding: 11px 10px 3px 10px;border-radius: 10px; margin-right: 3px}
.item-social{font-size: 22px;color: white;}
.widthfit{width: fit-content;}
.left-list{box-shadow: 0 0 4px 0 #a3a3a3;}
.bg-blue01{background-color: #c3e4ff}
.bg-blue02{background-color: #96cdfb}
.left-list-item:hover{border-radius: 3px; background-color: #ebf6ff}
.left-list-item2:hover{border-radius: 3px;background-color: #f8902f;color: #fff;}
.index-img{height: 150px;background-position: center;background-size: cover;}
.page2-img{height: 160px;background-position: center;background-size: cover;}
.page3-img{height: 450px;background-position: center;background-size: cover;}

.location iframe{
    width: 100% !important;
    height: 300px !important;
}
